// textarea.glsl-code(data-params='{"tex0":"tex/diffuse_lg.png","tex1":"tex/normal_lg.png","width":300,"height":300,"loop": "false","CodeMirror":{"lineNumbers":"false"}}' data-example=glsl)

//- div.col-sm-4.test
  div#target

// TODO: add texture param
mixin card(glsl, title, blurb, authorName, quote)
  //- div.row
    //- div.col-sm-4

  textarea.glsl-code(data-params='{"tex0":"tex/diffuse_lg.png","tex1":"tex/ripple_input_clouds.png","tex2":"tex/caustics.png","width":610,"height":610,"loop": "true","CodeMirror":{"lineNumbers":"false"}}' data-example=glsl)
    //- div.col-sm-4
      // h2=title
      p.
        !{blurb}
      if quote
        q=quote
      if authorName
        p.author-name=("―"+authorName)
    //- div.col-sm-4.test
  div#target
  //- hr

block cards
  +card('code/0xff/100_199/0/105.fs','','','','')
